.server-card {
    margin: 5px 10px;
    border-radius: 10px;
    background: var(--background-tertiary);
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline: 10px;
    height:62px;
    background: var(--background-tertiary);
}



.server-card .icon {
    height: 48px;
    border-radius: 4px;
    border: 1px solid white;
}