.left-nav {
    display: flex;
    flex-direction: column;
    width: 350px;
    min-width: 350px;
    transition: width 0.3s ease, transform 0.3s ease;
    background-color: var(--background-tertiary);
}

.left-nav-items {
    flex:1;
}

.left-nav-header {
    display: flex;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid var(--border-primary);
    padding:10px;
}

.left-nav.hidden {
    width: 0;
    min-width: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateX(-350px);
}

.channel-view {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.channel-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-inline: 10px;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid var(--border-primary);
}

.channel-info {
    display: flex;
    position: relative;
    overflow: hidden;
    flex: 1 1 auto;
    min-width: 0;
    align-items: center;
    height: 24px;
    gap:10px;
}

.channel-info .icon {
    min-width: 24px;
}

.channel-controls {
    display: flex;
    align-items: center;
    gap:10px;
}

.channel-controls .icon-container {
    height: 20px;
    width: 20px;
}

.chat-pane {
    display: flex;
    flex-grow:1;
    width: calc(100% - 350px);
}

.communication-view {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.text-chat {
    display: flex;
    flex-grow: 1;
}

.resize-area {
    height: 100%;
    width: 4px;
}

.resize-area:hover {
    background: white;
    cursor: ew-resize;
}