@keyframes smoothGlow {
    0%{
        box-shadow: 0 0 5px 2px #292929
    }
    50% {
        box-shadow: 0 0 5px 2px rgba(29, 29, 29, 0);
    }
    100% {
        box-shadow: 0 0 5px 2px #292929
    }
}

.overlay {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.overlay-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background: #181818;
    animation: smoothGlow 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}