.title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 30px;
    height: 30px;
    -webkit-app-region: drag;
    background: #202020;
}

.title-bar-controls {
    display: flex;
    margin-left: 15px;
    gap: 10px;
}

.title-bar-title {
    white-space: nowrap;
}

.window-controls {
    display: flex;
    height: 100%;
}

.window-controls .icon-wrapper:hover {
    background: rgb(51, 51, 51);
}
