.user-area {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--border-primary);
    padding: 15px;
}

.user-area .icon {
    margin-right: 15px;
    width: 40px;
    height: 40px;
}

.user-area svg {
    width: 20px;
    height: 20px;
}

.user-area .user-details {
    display: flex;
    align-items: center;
}