.friend-card {
    margin: 5px 10px;
    border-radius: 10px;
    background: var(--background-tertiary);
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline: 10px;
    height:42px;
}

.friend-card-info {
    display: flex;
    flex-direction: column;
}

.friend-card .icon {
    height: 32px;
    border: 1px solid white;
}